PORT=5000
MONGO_URI=mongodb+srv://<db_username>:<password>@cluster0.pvfp9ta.mongodb.net/employee_db?retryWrites=true&w=majority&appName=Cluster0
JWT_ACCESS_SECRET=access_token_secret_key_987654321_employee_sys
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=refresh_token_secret_key_123456789_employee_sys
JWT_REFRESH_EXPIRES_IN=7d
NODE_ENV=development
